.footer {
  height: 411px;
  background: #0c1416;
  color: white;

  &__logo {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  &__info {
    text-align: center;
  }

  &__contacts {
    &-title {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1.08px;
      font-weight: 1000;
      padding-bottom: 18px;
    }

    &-item {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    &-data {
      a {
        color: $white;
        text-decoration: none;
        line-height: 27px;
        font-size: 18px;
        letter-spacing: 1.08px;
        
      }
    }

  }

}
