body {
    margin: 0;
    padding: 0;
  }

.container {
    width: 1440px;
    margin: 0 auto;
}


.header {
    background: #0c1416;
    color: white;
    .container {
        height: 102px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        gap: 18px;
        align-items: center;
    }
}

.main {
    background: aqua;
    min-height: calc(100vh - 513px);
}

.footer {
    height: 411px;
    background: #0c1416;
    color: white;
}