.find {
  &_section-content {
    font-size: 20px;
    display: flex;
    flex-direction: row;

    &_img {
      max-width: 600px;
      margin-left: 20px;
    }
  }

  &_text-with-padding {
    font-size: 20px;
    padding-left: 120px; /* Отступ слева */
    padding-right: 120px; /* Отступ справа */
  }
  &_cards {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    gap: 430px; /* Расстояние между элементами */
    margin-top:100px;
    
  }
  
}
