.information{
    &__describe{
        font-size: 28px;
        font-family: "Mulish", sans-serif;
        width: 1045px;
        padding-top: 75px;
        padding-bottom: 75px;
        font-weight: 600;
        line-height: 30px;
    }

    &__title{
        text-align: center;
        font-size: 36px;
        font-weight: 800;
        line-height: 45px;
    }
    &__btn{
        width: 478px;
        height: 110px;
    }
    &__wrapper-btn{
        padding: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}