.hero {
  .container {
    height: 881px;
    background-image: url(../../asset/img/hero/background.jpg);
    background-position: bottom center;

    position: relative;
  }

  &__wrapper {
    width: 466px;
    height: 215px;

    position: absolute;
    top: 262px;
    right: 50px;
  }

  &__text {
    text-align: right;
    color: $white;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 2.16px;
    padding-bottom: 38px;
  }

  &__btn {
  }

  &__wrapper-btn {
    display: flex;
    justify-content: center;
  }
}
