.important{

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__column{
        width: 650px;
        display: flex;
        flex-direction:column;
        position: relative;
        align-items: center;
        gap: 20px;

        img{
            width: 180px;
            height: 160px;
            object-fit: cover;
        }


        position: relative;

    }

    &__column__center{
        width: 1340px;
        display: flex;
        flex-direction:column;
        position: relative;
        align-items: center;
        gap: 200px;

        img{
            width: 180px;
            height: 160px;
            object-fit: cover;
        }
    }

    &__line{
        height: 5px;
        width: 210px;
        background: #a80021;
        display: block;
    }

    &__title{
        color: #a80021;
        font-size: 24px;
        line-height: 30px;
        font-weight: 1000;
    }

    &__describe{
        text-align: center;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 1.08px;
    }
}