.header {
  background: $dark;
  color: $white;
  .container {
    .logo {
      z-index: 2;
    }
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.front {
  .header {
    .container {
      background-image: url(../asset/img/hero/background.jpg);
      background-position: top center;
    }
  }
}
